#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #242424;
  color: white;
}

.logo {
  width: 100px;
  flex-basis: 20%;
}

.logo img {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 40px 0 ;

  position: relative;
  border-bottom: 1px solid green;
  margin-bottom: 20px;
}

.search-form {
  flex-basis: 80%;

  display: flex;
  justify-content: right;
}

.search-form input {
  width: 54%;
  background: #242424 url("../images/search-icon.svg") no-repeat 5px 5px;
  border: none;
  padding: 5px 5px 5px 30px;
}

.search-results {
  position: absolute;
  top: 46px;
  text-align: left;
  width: 43%;
  max-height: 220px;
  overflow-y: scroll;
  border: 1px solid transparent;
  z-index: 2;
  background-color: lightgrey;
  opacity: 0.75;
  padding: 5px;

  border-radius: 10px;
}

.search-results .option {
  display: block;
  padding: 5px;

  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.card-film-container {
  display: flex;
  justify-content: space-between;
}

.card-img {
  flex-basis: 25%;
}

.card-info {
  flex-basis: 61%;
  position: relative;
}

.rating {
  position: absolute;
  top: 9px;
  left: 10px;

  border: 1px solid green;
  border-radius: 10px;
  padding: 4px 10px 4px 25px;
  background: green url("../images/rate-star.svg") no-repeat top 4px left 1px;
}

.category {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 6px;
  border: 1px solid mediumaquamarine;
  border-radius: 10px;
}

.card-img {
  position: relative;
}

.preloader {
  position: absolute;
  top: 46%;
  left: 46%;
  padding: 40px;
}